body {
    background-image:url("https://news.nationalgeographic.com/content/dam/news/2016/03/09/solareclipse/02solareclipse2016.jpg");
    background-color: black;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: "Courier New", Helvetica, Arial, sans-serif;
    margin-top: 40px;
}

p {
    font-size: 140%;
    color: white;
}

h2 {
    color: white;
}

.top-buffer {
    margin-top: 20px;
}

.double-top {
    margin-top: 40px;
}

.shift {
    padding-top: 40px;
    margin-top: -40px;
}

#egan, #diplomacy {
    color: white;
    text-decoration: none;
}

label {
    color: white;
}
